@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    font-family: Raleway;
}

.title {
    font-size: calc(20px + 2vmin);
}

.profile:hover {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid white;
}