@import url('https://fonts.googleapis.com/css2?family=Murecho&family=Raleway:wght@500&display=swap');

.login {
    font-family: 'Murecho', sans-serif;
    background-color: #ffffff;
    margin-top: 10%;
    /* min-height: 15rem; */
    border: 1px solid rgb(63, 62, 62);
}

input {
    background-color: #ffffff;
}