@import url("https://fonts.googleapis.com/css2?family=Murecho&family=Raleway:wght@500&display=swap");

.login {
  font-family: "Murecho", sans-serif;
  background-color: #ffffff;
  margin-top: 10%;
  /* min-height: 15rem; */
  border: 1px solid rgb(63, 62, 62);
  width: 30vw;
  max-width: 30vw;
}

@media (max-width: 1000px) {
  .login {
    width: 60vw;
    max-width: 60vw;
  }
}

@media (max-width: 600px) {
  .login {
    width: 80vw;
    max-width: 80vw;
  }
}

input {
  background-color: #ffffff;
}
